# Node
node_modules/
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
yarn.lock

# Vite build output
dist/
build/
*.local

# Environment variables
.env
.env.*
!.env.example

# IDE / Editor settings
.vscode/
.idea/
*.swp
*.swo

# Mac system files
.DS_Store

# Logs
logs/
*.log

# Optional: OS trash / temp
Thumbs.db
